<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @track.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @track.position %>
</p>

<p>
  <strong>Record:</strong>
  <%= @track.record_id %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
