<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @record.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @record.author %>
</p>

<% @record.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 400, width: 400, crop: :fill %>
<% end %>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
